<footer class="footer  bg-darkImg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center mt-60">
                <div class="footer-logo">
                    <img id="logo-footer" class="img-responive" src="../../../assets/images/logo/Logo_1651235830.png"
                        alt="">
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <p class=" text-white mb-60">
                        We each have different schedules and life pressures that might affect our nutritional choices.
                        So, living a healthy and balanced lifestyle can be both challenging and time consuming. If you
                        want to commit to a healthier lifestyle, you don't have to devote two hours a day to cooking,
                        and
                        spend all your time figuring out what is healthy and what is not. Instead, simply subscribe to
                        our monthly meal packages and live the healthy lifestyle you deserve...

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 my-2">
                <div class="newsletter">
                    <h4 class="text-white mb-30">Newsletter</h4>
                    <p class="text-white">Subscribe to our newsletter keeps you up-to-date!</p>
                    <div class="newsletter-input">
                        <input type="email" placeholder="Your email*" name="email">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 my-2">
                <div class="opening-time">
                    <h4 class="text-white mb-30 text-center">Operation Hours</h4>
                    <ul>
                        <li>Sunday - Saturday<span class="text-right">08:00am - 12:00am </span></li>
                        <li>For Subscription Inquiries<span class="text-right">08:00am - 12:00am </span></li>
                        <li>For Suggestions or Complaints<span>(04)5973939</span></li>
                        <li>Closed on public holidays</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 my-2">
                <div class="contact">
                    <h4 class="text-white mb-30">Contact</h4>
                    <p class="text-white">ABU DHABI NEW SHAHAMA-BLOCK 137</p>
                    <p class="text-white">info@Lowcalories.ae</p>
                    <a class="text-orange" target="_blank" href="https://goo.gl/maps/sKRWE3gFhBUfXsLR8?coh=178571&entry=tt"><i class="far fa-map pr-10"></i> Find us here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="co-lg-12 co-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="footer-social">
                        <ul class="list-inline d-flex justify-content-center">
                            <li class="mx-2"><a target="_blank"
                                    href="https://www.facebook.com/pages/category/Restaurant/Low-calories-209535336392037/"
                                    data-tooltip="facebook"> <i class="fab fa-facebook-f"></i> </a>
                            </li>
                            <li class="mx-2"><a target="_blank" href="https://api.whatsapp.com/send?phone=971522089620"
                                    data-tooltip="whatsapp"> <i class="fab fa-whatsapp"></i> </a>
                            </li>
                            <li class="mx-2"><a target="_blank"
                                    href="https://www.google.com/search?safe=active&source=hp&ei=1njNX5ysAcWCar6hsJAO&iflsig=AINFCbYAAAAAX82G5mU1BuwOFuZHp-Z4wCw0V0r-kbyA&q=low+calories+restaurant+abu+dhabi&oq=low+calories+restaurant+&gs_lcp=CgZwc3ktYWIQAxgAMgIIADICCAAyBQgAEMkDMgIIADIICC4QxwEQrwEyCAguEMcBEK8BMggILhDHARCvATIICC4QxwEQrwEyCAguEMcBEK8BMggILhDHARCvAToOCC4QsQMQgwEQyQMQkwI6BQgAELEDOg4ILhCxAxCDARDHARCjAjoICAAQsQMQgwE6CAguELEDEIMBOgUILhCxAzoOCC4QxwEQowIQyQMQkwI6AgguOgQIABAKUP42WMFtYNx8aABwAHgAgAGHAYgBww-SAQQwLjE3mAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab/"
                                    data-tooltip="google-plus"> <i class="fab fa-google-plus"></i> </a> </li>
                            <li class="mx-2"><a target="_blank" href="https://www.instagram.com/lowcaloriesae/"
                                    data-tooltip="instagram"> <i class="fab fa-instagram"></i> </a>
                            </li>
                        </ul>
                    </div>
                    <p class="text-white mt-30">
                        &copy; Copyright {{currentYear}} All right reserved by The Low Calories.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>