<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">Menu</h1>
            <p class="text-white">We Know The Secret Of Your Success</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Menu</span></li>
            </ul>
        </div>
    </div>
</div>


<section class="our-menu white-bg  page-section-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="tabs clearfix">
                    <ul class="tabs-link white text-center nav nav-pills pb-5 justify-content-center">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-home">
                                <a data-toggle="tab" aria-expanded="false">
                                    <i class="fa-solid fa-mug-saucer"></i>
                                    Breakfast
                                    </a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-profile">
                                <a data-toggle="tab" aria-expanded="true">
                                    <i class="fa-solid fa-utensils"></i>
                                    Lunch
                                </a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-contact">
                                <a data-toggle="tab">
                                    <i class="fa-solid fa-bowl-food"></i>
                                    Dinner
                                </a>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content mt-5">
                        <div class="tab-pane fade show active" id="pills-home">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Breakfast Complete</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Salmon fillet in a rich red curry with coconut milk, sweet basil
                                                    leaves ,pea aubergine, and kaffir lime leaves</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>French Toast</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>The famous hot, sour and spicy thai soup with king prawn, shimeji
                                                    mushrooms, lemongrass, and lime leaf</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Crepe Complete</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Thai rice noodles stir-fried with bean curd, chinese chives,
                                                    peanuts and beans sprouts in a special homemade sauce</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Vegetarian Breakfast</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Stir fried king prawn, tender stem broccoli and asparagus with
                                                    oyster sauce. Deep-fried mince prawn</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>French Breakfast</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Grill boneless corn-fed chicken, marinated in coconut milk,
                                                    lemongrass, galangal, turmeric and lime leaves</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Eggs Benedict</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Grill sirloin beef with cracked black pepper. Served with green
                                                    salad and sweet and sour sauce on the side</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>English Breakfast</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Tender stem broccoli and asparagus with oyster sauce. Stir fried
                                                    king prawn. Lime mousse with mango ganache</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Barrel's Breakfast</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>With chopped vegetables, served with plum sauce. Tossed in
                                                    peppercorns and spiced salt</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Shrimp and Grits</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>With peppercorns and spiced salt, delicately battered. Tossed in
                                                    peppercorns and spiced salsa</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Spring Salad</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Salmon fillet in a rich red curry with coconut milk, sweet basil
                                                    leaves ,pea aubergine, and kaffir lime leaves</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Fried Chicken Breast</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>The famous hot, sour and spicy thai soup with king prawn, shimeji
                                                    mushrooms, lemongrass, and lime leaf</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Seafood Pasta</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Thai rice noodles stir-fried with bean curd, chinese chives,
                                                    peanuts and beans sprouts in a special homemade sauce</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>She Crab Soup</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Stir fried king prawn, tender stem broccoli and asparagus with
                                                    oyster sauce. Deep-fried mince prawn</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Black Bean Soup</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Grill boneless corn-fed chicken, marinated in coconut milk,
                                                    lemongrass, galangal, turmeric and lime leaves</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Turkey Melt</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Grill sirloin beef with cracked black pepper. Served with green
                                                    salad and sweet and sour sauce on the side</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Lobster Roll</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Tender stem broccoli and asparagus with oyster sauce. Stir fried
                                                    king prawn. Lime mousse with mango ganache</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Caesar Salad</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>With chopped vegetables, served with plum sauce. Tossed in
                                                    peppercorns and spiced salt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Mixed Greens Salad</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>With peppercorns and spiced salt, delicately battered. Tossed in
                                                    peppercorns and spiced salsa</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Pork Belly</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Salmon fillet in a rich red curry with coconut milk, sweet basil
                                                    leaves ,pea aubergine, and kaffir lime leaves</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Peach Gazpacho</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>The famous hot, sour and spicy thai soup with king prawn, shimeji
                                                    mushrooms, lemongrass, and lime leaf</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Veal Chop</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Thai rice noodles stir-fried with bean curd, chinese chives,
                                                    peanuts and beans sprouts in a special homemade sauce</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Wood Roasted Salmon</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Stir fried king prawn, tender stem broccoli and asparagus with
                                                    oyster sauce. Deep-fried mince prawn</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Pan Seared Chicken</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Grill boneless corn-fed chicken, marinated in coconut milk,
                                                    lemongrass, galangal, turmeric and lime leaves</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-body menu-left menu-white">
                                        <div class="menu-thumbnail">
                                            <img class="img-responsive center-block" src="../../../assets/images/menu/01.png"
                                                alt="">
                                        </div>
                                        <div class="menu-details">
                                            <div class="menu-title clearfix">
                                                <h4>Butter Poached Lobster</h4>
                                                <span class="price">$99.0</span>
                                            </div>
                                            <div class="menu-description">
                                                <p>Grill sirloin beef with cracked black pepper. Served with green
                                                    salad and sweet and sour sauce on the side</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>