<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.menu.title"|translate}}</h1>
            <p class="text-white">{{"pages.menu.desc"|translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.menu.title"|translate}}</span></li>
            </ul>
        </div>
    </div>
</div>

<section class="mt-5" *ngIf="skeletonMode$ | async">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="menu-body menu-left menu-white">
                    <div class="menu-thumbnail">
                        <p-skeleton shape="circle" size="5rem"></p-skeleton>
                    </div>
                    <div class="menu-details">
                        <div class="menu-title clearfix">
                            <div class="row">
                                <div class="col-9">
                                    <p-skeleton height="2rem" width="50%" styleClass="mb-3"></p-skeleton>
                                </div>
                                <div class="col-3">
                                    <p-skeleton height="2rem" width="100%" styleClass="mb-3"></p-skeleton>
                                </div>
                            </div>
                        </div>
                        <div class="menu-description">
                            <p-skeleton styleClass="mb-2"></p-skeleton>
                        </div>
                        <small class="text-muted">
                            <p-skeleton styleClass="mb-2" width="75%"></p-skeleton>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="menu-body menu-left menu-white">
                    <div class="menu-thumbnail">
                        <p-skeleton shape="circle" size="5rem"></p-skeleton>
                    </div>
                    <div class="menu-details">
                        <div class="menu-title clearfix">
                            <div class="row">
                                <div class="col-9">
                                    <p-skeleton height="2rem" width="50%" styleClass="mb-3"></p-skeleton>
                                </div>
                                <div class="col-3">
                                    <p-skeleton height="2rem" width="100%" styleClass="mb-3"></p-skeleton>
                                </div>
                            </div>
                        </div>
                        <div class="menu-description">
                            <p-skeleton styleClass="mb-2"></p-skeleton>
                        </div>
                        <small class="text-muted">
                            <p-skeleton styleClass="mb-2" width="75%"></p-skeleton>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-menu white-bg pt-5">
    <div class="container">
        <owl-carousel-o [options]="categoryOptions" ngClass="categories" *ngIf="menu$ |async as menu">
            <ng-container *ngFor="let category of menu; let i = index">
                <ng-template carouselSlide>
                    <div class="item bg-white px-5 rounded py-3 font-weight-500"
                        [ngClass]="{'active': i == category_index}" (click)="toggleCategories($event, i)">
                        <i [classList]="category.icon + ' fa-solid mx-1'"></i> {{category?.name}}
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <div class="row mt-5" *ngIf="menu$ |async as menu">
            <div class="col-lg-6" *ngFor="let item of menu[category_index].menus">
                <div class="menu-body menu-left menu-white">
                    <div class="menu-thumbnail">
                        <img class="img-responsive center-block" [src]="item.image" [alt]="item.name">
                    </div>
                    <div class="menu-details">
                        <div class="menu-title clearfix">
                            <h4>{{item.name}}</h4>
                            <span class="price" *ngIf="!item.price.includes('=>')">
                                {{item.price}} <sub>{{"currency"|translate}}</sub>
                            </span>
                            <ul class="price text-end" style="font-size: small;line-height: normal;" *ngIf="item.price.includes('=>')">
                                <ol>{{item.price.split("AED")[0]}} {{"currency"|translate}}</ol>
                                <ol>{{item.price.split("AED")[1]}} {{"currency"|translate}}</ol>
                                <ol>{{item.price.split("AED")[2]}} {{"currency"|translate}}</ol>
                            </ul>
                        </div>
                        <div class="menu-description">
                            <p>{{item.description_en}}</p>
                        </div>
                        <small class="text-muted">
                            {{item.nutrations}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>