<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <p-dialog [(visible)]="welcomeModal" [modal]="true" [style]="{ width: '25vw' }"
    [draggable]="false" [resizable]="false">
    <div class="text-center">
        <span class="text-muted">
            Contact Us For Renewal Code Tel: 045973939
        </span>
        <button class="btn btn-dark mt-3" style="background-color: #FE9F4B;border-color:#FE9F4B" (click)="welcomeModal=false">Continue</button>
    </div>
</p-dialog> -->