<section id="slider">
  <div class="owl">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="text-center py-5">
          <span class="text-white">We Serve (Since 2018)</span>
          <h3 class="text-orange">welcome to low calories</h3>
          <img src="../../../assets/images/slider/carousel/1.png" alt="" class="img-fluid m-auto" style="width: 350px;">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="text-center py-5">
          <span class="text-white">We Serve you</span>
          <h3 class="text-orange">We serve you Healthy food</h3>
          <img src="../../../assets/images/slider/carousel/2.png" alt="" class="img-fluid m-auto" style="width: 350px;">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="text-center py-5">
          <span class="text-white">We provide awesome and delicious food</span>
          <h3 class="text-orange">Experience The Finest Quality Food</h3>
          <img src="../../../assets/images/slider/carousel/3.png" alt="" class="img-fluid m-auto" style="width: 350px;">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="about-2 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 my-3">
            <img class="img-fluid" src="../../../assets/images/Certified logo/ISO-22000.png" alt="">
          </div>
          <div class="col-lg-6 my-3">
            <div class="about-content mt-100">
              <h2>Welcome to <span class="text-orange">Low Calories</span></h2>
              <p>Whatever your occasion, We makes it one to remember!</p>
              <p>One of the best restaurants in the UAE offering healthy food. We believed that healthy or diet food
                with great taste was possible and each day that is what we deliver to our customers. Low Calories
                Restaurant offers fresh nutritious food, with new ideas, new flavors and sauces.
                <br>
                <br>
                OUR GOAL: To let everyone enjoy our healthy delicious meals and gain all the benefits and reap all the
                rewards that go with it</p>
              <a class="button mt-10" routerLink="../plans">
                Check Our Plans
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-menu dark black-bg pb-20">
  <div class="page-section-pt pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="section-title text-center">
            <div class="title-separator">
              <i class="glyph-icon flaticon-food-27"></i>
            </div>
            <h2 class="text-white"> <span class="text-orange">Special</span> Menu</h2>
            <p class="text-white">We serve a daily changing menu. We serve our best food.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="menu-body menu-left menu-white">
            <div class="menu-thumbnail">
                <p-image src="../../../assets/images/home/meals/caesar salad.png" alt="Image"  [preview]="true"></p-image>
            </div>
            <div class="menu-details">
              <div class="menu-title clearfix">
                <h4>Caesar Salad</h4>
                <span class="price">21 <sub>AED</sub></span>
              </div>
              <div class="menu-description">
                <p>Salmon fillet in a rich red curry with coconut milk, sweet basil leaves ,pea aubergine, and kaffir
                  lime leaves</p>
              </div>
            </div>
          </div>

          <div class="menu-body menu-left menu-white">
            <div class="menu-thumbnail">
                <p-image src="../../../assets/images/home/meals/Dynamite shrimps.png" alt="Image"  [preview]="true"></p-image>
            </div>
            <div class="menu-details">
              <div class="menu-title clearfix">
                <h4>Dynamite shrimps</h4>
                <span class="price">36 <sub>AED</sub></span>
              </div>
              <div class="menu-description">
                <p>Thai rice noodles stir-fried with bean curd, chinese chives, peanuts and beans sprouts in a special
                  homemade sauce</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="menu-body menu-left menu-white">
            <div class="menu-thumbnail">
              <p-image src="../../../assets/images/home/meals/Shrimp Magbous.png" alt="Image"  [preview]="true"></p-image>
            </div>
            <div class="menu-details">
              <div class="menu-title clearfix">
                <h4>Shrimp Magbous</h4>
                <span class="price">46 <sub>AED</sub></span>
              </div>
              <div class="menu-description">
                <p>Grill boneless corn-fed chicken, marinated in coconut milk, lemongrass, galangal, turmeric and lime
                  leaves</p>
              </div>
            </div>
          </div>
          <div class="menu-body menu-left menu-white">
            <div class="menu-thumbnail">
              <p-image src="../../../assets/images/home/meals/Beef lasagna.png" alt="Image"  [preview]="true"></p-image>
            </div>
            <div class="menu-details">
              <div class="menu-title clearfix">
                <h4>Beef Lasagna</h4>
                <span class="price">40 <sub>AED</sub></span>
              </div>
              <div class="menu-description">
                <p>The famous hot, sour and spicy thai soup with king prawn, shimeji mushrooms, lemongrass, and lime
                  leaf</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service-feature gray-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
          <div class="title-separator">
            <i class="glyph-icon flaticon-food-27"></i>
          </div>
          <h2> About <span class="text-orange">Low Calories</span></h2>
          <p>Leading healthy food company </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 mb-30">
        <div class="service  text-center"
          style="background-image: url('../../../assets/images/home/image-1.png');background-size: cover;background-position: center;">
          <div class="service-content">
            <i class="fa-regular fa-clock"></i>
            <h4>PREPARED FRESH</h4>
            <p>
              Our meals are prepared and delivered fresh daily. We use special bags to preserve the delicious taste and
              quality of the food.
            </p>
          </div>
          <div class="service-img" style="background-image: url('../../../assets/images/home/image-1.png');"></div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mb-30">
        <div class="service text-center"
          style="background-image: url('../../../assets/images/home/image-2.png');background-size: cover;background-position: center;">
          <div class="service-content">
            <i class="fa-solid fa-bowl-food"></i>
            <h4>Low Calories</h4>
            <p>
              We deliver our meal plans daily, all you have to do is to keep them in the fridge and heat when you are
              ready for a delicious healthy meal.
            </p>
          </div>
          <div class="service-img" style="background-image: url('../../../assets/images/home/image-2.png');"></div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mb-30">
        <div class="service text-center"
          style="background-image: url('../../../assets/images/home/image-3.jpg');background-size: cover;background-position: center;">
          <div class="service-content">
            <i class="fa-solid fa-truck-fast"></i>
            <h4>DAILY DELIVERY</h4>
            <p>
              Our delivery time is from 10AM-10PM daily except Fridays.
            </p>
          </div>
          <div class="service-img" style="background-image: url('../../../assets/images/home/image-3.jpg');"></div>
        </div>
      </div>

    </div>
    <div class="text-center"><a class="button mt-20" routerLink="../plans">Check Our Plans</a></div>
  </div>
</section>

<section class="page-section-ptb parallax bg-overlay-black-70 bg-downloadApp">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="section-title text-center m-0 mb-5">
          <h2 class="text-white"> <span class="text-orange">Download </span> Our App</h2>
        </div>
        <img src="http://lowcalories.ae/web/assets/home/qr-code-downApp.png" alt="" class="img-fluid"
          style="width: 150px;">
        <p class="text-white mt-30 mb-30">
          Low Calories is a leading healthy food restaurants chain with over 35 branches.
          <br>
          Our goal is to make healthy eating accessible for everyone.
        </p>
        <a target="_blank" href="https://apps.apple.com/us/app/low-calories/id1566660717" class="btn btn-app-store">
          <ng-lottie height="100px" class="pointer" [options]="options"></ng-lottie>
        </a>

      </div>
    </div>
  </div>
</section>