/* ===========last section============ */
.service:hover h4, .service.active h4,.service:hover i, .service.active i {
    opacity: 1;
    height: auto;
}

.service-content h4,.service-content i {
    opacity: 0;
    height: 0;
    line-height: 25px;
    padding: 0 18px;
}

// ============slider===================
#slider {
    background-image: url('../../../assets/images/slider/a617d-slider2-bg.jpg');
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#slider .owl{
    width: 1200px;
    overflow: hidden;
}

@media screen and (max-width:1200px) {
    #slider .owl{
        width: 900px;
    }
}

@media screen and (max-width:900px) {
    #slider .owl{
        width: 600px;
        h3{
            font-size: 30px !important;
        }
    }
}

@media screen and (max-width:600px) {
    #slider .owl{
        width: 300px;
        h3{
            font-size: 20px !important;
        }
        img{
            width: 250px !important;
        }
    }
}

@media screen and (max-width:300px) {
    #slider .owl{
        width: 200px;
        h3{
            font-size: 15px !important;
        }
        img{
            width: 150px !important;
        }
    }
}

.menu-thumbnail{
    overflow: hidden;
    border-radius: 50%;
}

::ng-deep{
    .p-image-mask{
        transform: scale(6);
    }
}

@media screen and (max-width:800px) {
    ::ng-deep{
        .p-image-mask{
            transform: scale(4) !important;
        }
    }
}

