<form [formGroup]='clinicForm' (ngSubmit)='onSubmit(clinicForm)'>
    <div class="row">
        <div class="col-lg-6 my-2">
            <div class="mb-2"><label for="">Name<span class="text-danger">*</span></label></div>
            <input type="text" pInputText placeholder='Enter your name' [style]="{'width':'100%'}"
                formControlName="first_name" />
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('first_name')?.touched &&
                clinicForm.get('first_name')?.hasError('required')">This field is required.</small>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="mb-2"><label for="">Email<span class="text-danger">*</span></label></div>
            <input type="email" pInputText placeholder='Enter your email' [style]="{'width':'100%'}"
                formControlName="email" />
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('email')?.touched &&
                clinicForm.get('email')?.hasError('required')">This field is required.</small>
            </div>
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('email')?.touched &&
                clinicForm.get('email')?.hasError('email')">Email is not valid.</small>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="mb-2"><label for="">Mobile<span class="text-danger">*</span></label></div>
            <input type="text" pInputText placeholder='Enter your mobile' [style]="{'width':'100%'}" maxlength="10"
                formControlName="phone_number"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('phone_number')?.touched &&
                clinicForm.get('phone_number')?.hasError('required')">This field is required.</small>
            </div>
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('phone_number')?.touched &&
                clinicForm.get('phone_number')?.hasError('pattern')">Mobile number must be 10 digit</small>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="mb-2"><label for="">whatsApp<span class="text-danger">*</span></label></div>
            <input type="text" pInputText placeholder='Enter whatsApp number' [style]="{'width':'100%'}"
            maxlength="10" minlength="10"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                formControlName="whatsApp" />
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('whatsApp')?.touched &&
                clinicForm.get('whatsApp')?.hasError('required')">This field is required.</small>
            </div>
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('whatsApp')?.touched &&
                clinicForm.get('whatsApp')?.hasError('pattern')">WhatsApp number must be 10 digit</small>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <label class="mb-2">Address<span class="text-danger">*</span></label>
            <input type="text" pInputText placeholder='Enter your name' [style]="{'width':'100%'}"
                formControlName="address" />
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('address')?.touched &&
                clinicForm.get('address')?.hasError('required')">This field is required.</small>
            </div>
        </div>
        <div class="col-lg-6 my-2" *ngIf="emirates$ |async as emirates">
            <label class="mb-2">Emirates<span class="text-danger">*</span></label>
            <p-dropdown [options]="emirates" formControlName="emirate_id" optionLabel="en_name" optionValue="id"
                autoWidth="false" [style]="{'width':'100%'}" placeholder='Select your emirate'></p-dropdown>
            <div class="text-start">
                <small class="text-danger ms-1" *ngIf="clinicForm.get('emirate_id')?.touched &&
                clinicForm.get('emirate_id')?.hasError('required')">This field is required.</small>
            </div>
        </div>
        <div class="col-12 text-end">
            <button class="btn border-0 p-0" type="submit" [disabled]="clinicForm.invalid">
                <a class="button mt-20 pointer py-2 px-5">Next</a>
            </button>
        </div>
    </div>
</form>