<header id="header" class="header">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="topbar-left text-left">
            <ul>
              <li><i class="fa fa-phone"></i> (04)5973939 </li>
              <li><i class="fa fa-envelope"></i> support@Lowcalories.ae</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="topbar-right text-end">
            <ul>
              <li><a href="https://www.facebook.com/pages/category/Restaurant/Low-calories-209535336392037/"
                  target="_blank"><i class="fab fa-facebook"></i> </a></li>
              <li><a href="https://api.whatsapp.com/send?phone=971522089620" target="_blank"><i
                    class="fab fa-whatsapp"></i> </a></li>
              <li><a href="https://www.instagram.com/lowcaloriesae/" target="_blank"><i class="fab fa-instagram"></i>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mega menu -->
  <div class="menu">
    <!-- menu start -->
    <nav id="menu-1" class="mega-menu ">
      <!-- menu list items container -->
      <section class="menu-list-items">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="w-100 d-flex justify-content-center align-items-center">
                  <!-- menu logo -->
                  <ul class="menu-logo">
                    <li class="head-info">
                      <a href="index.html"><img id="logo_img" src="../../../assets/images/logo/Logo_1651235830.png"
                          alt="logo"> </a>
                      <div class="head-info-content d-flex">
                        <div class="info-left pull-left">
                          <div class="time">
                            <h6>SUN – SAT</h6>
                            <p>08:00am - 12:00am</p>
                            <p>Closed on public holidays</p>
                          </div>
                          <div class="time mt-20">
                            <h6>Suggestions</h6>
                            <p>
                              We appreciate all your suggestions, ideas and feedback
                            </p>
                          </div>
                        </div>
                        <div class="info-right pull-right">
                          <div class="address">
                            <p>ABU DHABI NEW SHAHAMA-BLOCK 137</p>
                            <p> (04)5973939 </p>
                            <p>support@Lowcalories.ae</p>
                            <a target="_blank" href="https://goo.gl/maps/sKRWE3gFhBUfXsLR8?coh=178571&entry=tt"><i
                                class="fa fa-map-o pr-10"></i> Find us
                              here</a>
                            <ul class="list-inline mt-15 d-flex">
                              <li class="mx-2"><a target="_blank"
                                  href="https://www.facebook.com/pages/category/Restaurant/Low-calories-209535336392037/"
                                  data-tooltip="facebook"> <i class="fa fa-facebook-f"></i> </a>
                              </li>
                              <li class="mx-2"><a target="_blank"
                                  href="https://api.whatsapp.com/send?phone=971522089620" data-tooltip="whatsapp"> <i
                                    class="fa fa-whatsapp"></i> </a>
                              </li>
                              <li class="mx-2"><a target="_blank"
                                  href="https://www.google.com/search?safe=active&source=hp&ei=1njNX5ysAcWCar6hsJAO&iflsig=AINFCbYAAAAAX82G5mU1BuwOFuZHp-Z4wCw0V0r-kbyA&q=low+calories+restaurant+abu+dhabi&oq=low+calories+restaurant+&gs_lcp=CgZwc3ktYWIQAxgAMgIIADICCAAyBQgAEMkDMgIIADIICC4QxwEQrwEyCAguEMcBEK8BMggILhDHARCvATIICC4QxwEQrwEyCAguEMcBEK8BMggILhDHARCvAToOCC4QsQMQgwEQyQMQkwI6BQgAELEDOg4ILhCxAxCDARDHARCjAjoICAAQsQMQgwE6CAguELEDEIMBOgUILhCxAzoOCC4QxwEQowIQyQMQkwI6AgguOgQIABAKUP42WMFtYNx8aABwAHgAgAGHAYgBww-SAQQwLjE3mAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab/"
                                  data-tooltip="google-plus"> <i class="fa fa-google-plus"></i> </a> </li>
                              <li class="mx-2"><a target="_blank" href="https://www.instagram.com/lowcaloriesae/"
                                  data-tooltip="instagram"> <i class="fa fa-instagram"></i> </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="menu-links ms-auto" style="cursor: pointer;">
                      <li routerLink="home" routerLinkActive="active"><a> Home </a></li>
                      <li routerLink="plans" routerLinkActive="active"><a> Plans </a></li>
                      <li routerLink="menu" routerLinkActive="active"><a> Menu </a></li>
                      <li routerLink="contacts" routerLinkActive="active"><a>Contact us </a></li>
                      <li routerLink="terms" routerLinkActive="active"><a> T & C </a></li>
                      <li routerLink="clinic" routerLinkActive="active"><a>Clinic </a></li>
                      <li routerLink="questions" routerLinkActive="active"><a>FAQ </a></li>
                      <li routerLink="register" routerLinkActive="active"><a>Register</a></li>
                      <ng-container *ngIf="login$ | async as login">
                        <li routerLink="login" routerLinkActive="active" *ngIf="login.data == null"><a>Login</a></li>
                        <li (click)="logOut()" *ngIf="login.data != null">
                          <a>
                            Sign Out
                            <span *ngIf="login.loading">...</span>
                          </a>
                        </li>
                      </ng-container>
                    </ul>
                  </div>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    style="border: 1px solid #e93e21;" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"
                      style="font-family:'Font Awesome 6 Free';font-weight: 900;color: #e93e21;"></i>
                  </button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <!-- menu end -->
  </div>
</header>