<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
      <div class="row text-center intro-title">
         <h1 class="text-orange">Not Found</h1>
         <p class="text-white">We Know The Secret Of Your Success</p>
         <ul class="page-breadcrumb">
           <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
           <li><span>404 Not Found</span></li>
        </ul>
        </div>
     </div>
   </div>
  
 
 <section class="error-page page-section-ptb">
 <div class="container">
   <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="error-content text-center">
        <img class="img-responsive center-block" src="../../../assets/images/404/image-404.jpg" alt=""> 
       <h3 class="text-orange">Ooopps:( </h3>
       <strong class="text-black d-flex justify-content-center align-items-center flex-wrap">
         <span>The Page you were looking for, couldn't be found</span>
         <ng-lottie height="50px" [options]="options"></ng-lottie>
        </strong>
          <p>Look like the page you are trying to visit does not exisr. Pleace check the URL and try your luck again</p>
         <div class="link-button">
             <a  routerLink="../home" class="button black">Go to home page</a>
        </div>  
       </div>            
     </div>
    </div>
  </div>
 </section>