<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">Forget Password</h1>
            <p class="text-white">We Know The Secret Of Your Success</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Forget Password</span></li>
            </ul>
        </div>
    </div>
</div>

<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Reset Password</div>

                    <div class="card-body">

                        <form class="form-horizontal" id="contactform" role="form" method="post"
                            action="php/contact-form.php">
                            <div class="contact-form">
                                <div class="row">
                                    <div class="col-lg-6 offset-lg-3">
                                        <div class="form-field">
                                            <i class="fa fa-envelope"></i>
                                            <input type="email" placeholder="Email*" class="placeholder"
                                                name="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 offset-lg-3">
                                        <div class="form-submit text-center">
                                            <button id="submit" name="Submit" type="submit" value="Send"
                                                class="button w-100">Reset Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
