
<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">Checkout</h1>
            <p class="text-white">We Know The Secret Of Your Success</p>
            <ul class="page-breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Checkout</span></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <h1>working!!</h1>
</div>

<!-- <app-checkout [plan_name]="plan_name" [SubscribtionData]="SubscribtionData" [ProgramPrices]="ProgramPrices"
    [Menu_Name]="Menu_Name" [plan_img]="plan_img"></app-checkout> -->